<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
    <link rel="stylesheet" href="../public/header.module.css" />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="page-wrapper">
      <div class="layout-container">
        <header
          class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7edf4] px-10 py-3"
        >
          <div class="flex items-center gap-4 text-[#0d141c]">
            <div class="size-4">
              <svg
                viewBox="0 0 48 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6 6H42L36 24L42 42H6L12 24L6 6Z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
            <h2
              class="text-[#0d141c] text-lg font-bold leading-tight tracking-[-0.015em]"
            >
              TaskMaster
            </h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a
                class="text-[#0d141c] text-sm font-medium leading-normal"
                href="#"
                >Features</a
              >
              <a
                class="text-[#0d141c] text-sm font-medium leading-normal"
                href="#"
                >Pricing</a
              >
              <a
                class="text-[#0d141c] text-sm font-medium leading-normal"
                href="#"
                >Resources</a
              >
            </div>
            <button
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#0c7ff2] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em]"
            >
              <span class="truncate">Get Started</span>
            </button>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div
            class="layout-content-container flex flex-col max-w-[960px] flex-1"
          >
            <div class="@container">
              <div class="@[480px]:p-4">
                <div
                  class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-lg items-center justify-center p-4"
                  style="
                    background-image: linear-gradient(
                        rgba(0, 0, 0, 0.1) 0%,
                        rgba(0, 0, 0, 0.4) 100%
                      ),
                      url('https://lh3.googleusercontent.com/aida-public/AB6AXuARfgfC_IA_wOLdjuGn-PghaizR2Gn62EaY4GbwysiUU8ZvCujjZaKLXoE55Azudo27X5_Onlw6YvJkoWUVZEGJxhOKwrp39EBvVQ0HJNht_LLH7UeXh9OmUynPuYQaINWS3CGNkzI4xt1v_riuTPhOUXUmtWeSA8SPchjkW9GWf0sQBUsi2YHjftB7Tpxk_qiowW6WV6R8gnwdob2wRDp_L0_pr5OAjYxfICQbjp4_f9po23DXjbcOKlzONvHZIlKFvn1vJbJke7U');
                  "
                >
                  <div class="flex flex-col gap-2 text-center">
                    <h1
                      class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                    >
                      Organize Your Day, Conquer Your Tasks
                    </h1>
                    <h2
                      class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal"
                    >
                      TaskMaster helps you stay on top of your to-do list with
                      ease. Streamline your workflow and achieve your goals, one
                      task at a time.
                    </h2>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#0c7ff2] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                  >
                    <span class="truncate">Get Started</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-10 px-4 py-10 @container">
              <div class="flex flex-col gap-4">
                <h1
                  class="text-[#0d141c] tracking-light text-[32px] font-bold leading-tight @[480px]:text-4xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em] max-w-[720px]"
                >
                  Key Features
                </h1>
                <p
                  class="text-[#0d141c] text-base font-normal leading-normal max-w-[720px]"
                >
                  TaskMaster offers a comprehensive suite of tools to help you
                  manage your tasks effectively.
                </p>
              </div>
              <div
                class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-0"
              >
                <div
                  class="flex flex-1 gap-3 rounded-lg border border-[#cedbe8] bg-slate-50 p-4 flex-col"
                >
                  <div
                    class="text-[#0d141c]"
                    data-icon="Check"
                    data-size="24px"
                    data-weight="regular"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24px"
                      height="24px"
                      fill="currentColor"
                      viewBox="0 0 256 256"
                    >
                      <path
                        d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="flex flex-col gap-1">
                    <h2
                      class="text-[#0d141c] text-base font-bold leading-tight"
                    >
                      Task Management
                    </h2>
                    <p
                      class="text-[#49739c] text-sm font-normal leading-normal"
                    >
                      Create, organize, and prioritize your tasks effortlessly.
                    </p>
                  </div>
                </div>
                <div
                  class="flex flex-1 gap-3 rounded-lg border border-[#cedbe8] bg-slate-50 p-4 flex-col"
                >
                  <div
                    class="text-[#0d141c]"
                    data-icon="Calendar"
                    data-size="24px"
                    data-weight="regular"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24px"
                      height="24px"
                      fill="currentColor"
                      viewBox="0 0 256 256"
                    >
                      <path
                        d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-96-88v64a8,8,0,0,1-16,0V132.94l-4.42,2.22a8,8,0,0,1-7.16-14.32l16-8A8,8,0,0,1,112,120Zm59.16,30.45L152,176h16a8,8,0,0,1,0,16H136a8,8,0,0,1-6.4-12.8l28.78-38.37A8,8,0,1,0,145.07,132a8,8,0,1,1-13.85-8A24,24,0,0,1,176,136,23.76,23.76,0,0,1,171.16,150.45Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="flex flex-col gap-1">
                    <h2
                      class="text-[#0d141c] text-base font-bold leading-tight"
                    >
                      Scheduling
                    </h2>
                    <p
                      class="text-[#49739c] text-sm font-normal leading-normal"
                    >
                      Schedule tasks and set deadlines to stay on track.
                    </p>
                  </div>
                </div>
                <div
                  class="flex flex-1 gap-3 rounded-lg border border-[#cedbe8] bg-slate-50 p-4 flex-col"
                >
                  <div
                    class="text-[#0d141c]"
                    data-icon="Bell"
                    data-size="24px"
                    data-weight="regular"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24px"
                      height="24px"
                      fill="currentColor"
                      viewBox="0 0 256 256"
                    >
                      <path
                        d="M221.8,175.94C216.25,166.38,208,139.33,208,104a80,80,0,1,0-160,0c0,35.34-8.26,62.38-13.81,71.94A16,16,0,0,0,48,200H88.81a40,40,0,0,0,78.38,0H208a16,16,0,0,0,13.8-24.06ZM128,216a24,24,0,0,1-22.62-16h45.24A24,24,0,0,1,128,216ZM48,184c7.7-13.24,16-43.92,16-80a64,64,0,1,1,128,0c0,36.05,8.28,66.73,16,80Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="flex flex-col gap-1">
                    <h2
                      class="text-[#0d141c] text-base font-bold leading-tight"
                    >
                      Reminders
                    </h2>
                    <p
                      class="text-[#49739c] text-sm font-normal leading-normal"
                    >
                      Receive timely reminders to never miss a deadline.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="@container">
              <div
                class="flex flex-col justify-end gap-6 px-4 py-10 @[480px]:gap-8 @[480px]:px-10 @[480px]:py-20"
              >
                <div class="flex flex-col gap-2 text-center">
                  <h1
                    class="text-[#0d141c] tracking-light text-[32px] font-bold leading-tight @[480px]:text-4xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em] max-w-[720px]"
                  >
                    Ready to Take Control of Your Tasks?
                  </h1>
                  <p
                    class="text-[#0d141c] text-base font-normal leading-normal max-w-[720px"
                  >
                    Join thousands of users who are boosting their productivity
                    with TaskMaster.
                  </p>
                </div>
                <div class="flex flex-1 justify-center">
                  <div class="flex justify-center">
                    <button
                      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#0c7ff2] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em] grow"
                    >
                      <span class="truncate">Get Started</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="flex justify-center">
          <div class="flex max-w-[960px] flex-1 flex-col">
            <footer
              class="flex flex-col gap-6 px-5 py-10 text-center @container"
            >
              <div
                class="flex flex-wrap items-center justify-center gap-6 @[480px]:flex-row @[480px]:justify-around"
              >
                <a
                  class="text-[#49739c] text-base font-normal leading-normal min-w-40"
                  href="#"
                  >Terms of Service</a
                >
                <a
                  class="text-[#49739c] text-base font-normal leading-normal min-w-40"
                  href="#"
                  >Privacy Policy</a
                >
                <a
                  class="text-[#49739c] text-base font-normal leading-normal min-w-40"
                  href="#"
                  >Contact Us</a
                >
              </div>
              <p class="text-[#49739c] text-base font-normal leading-normal">
                © 2024 TaskMaster. All rights reserved.
              </p>
            </footer>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
